@import url(//fonts.googleapis.com/css?family=Lato:300:400);
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  font: 100% "Lato", sans-serif;
  color: #333;
  background: #F8CDDA;
  /* fallback for old browsers */
}

header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #283048 0%, #859398 100%);
  color: white;
}
header h1 {
  text-align: center;
  color: lightgrey;
  font: 100% "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
main div .todo {
  width: 450px;
  height: 700px;
  background-color: white;
  border-radius: 30px 30px 0 0;
  -webkit-box-shadow: 0px 0px 10px 0px #a3a3a3;
  -moz-box-shadow: 0px 0px 10px 0px #a3a3a3;
  box-shadow: 0px 0px 10px 0px #a3a3a3;
}
main div .todo .cardtop {
  width: 100%;
  height: 300px;
  color: white;
  border-radius: 30px 30px 0 0;
  background: linear-gradient(60deg, #283048 0%, #859398 100%);
}
main div .todo .cardtop .topcontent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
main div .todo .cardtop .topcontent p {
  text-align: center;
  font: 100% "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
}
main div .todo .cardtop .topcontent #new {
  padding-top: 60px;
}
main div .todo .cardtop .topcontent #error {
  color: #f79ac3;
}
main div .todo .cardtop .topcontent input[type=text] {
  font: 100% "Lato", sans-serif;
  padding-left: 8px;
  height: 20px;
  border-radius: 10px;
  border: none;
}
main div .todo .cardtop .topcontent .button-container {
  width: 250px;
  height: 100px;
  margin: 5% auto;
  color: white;
  font-size: 1rem;
}
main div .todo .cardtop .topcontent .button {
  position: relative;
  font-size: 1.5rem;
  border: 1.5px solid white;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: auto;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
main div .todo .cardtop .topcontent .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main div .todo .cardtop .topcontent .button:hover {
  cursor: pointer;
  width: 125px;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  color: #566270;
  transition: 0.3s;
}
main div .todo .cardtop .topcontent .button:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.05s;
}
main div .todo .cardtop #datetext {
  position: absolute;
  left: 0;
  bottom: 0;
  border: none;
  background-color: inherit;
  color: white;
  margin-bottom: 25px;
  margin-left: 20px;
  text-transform: capitalize;
}
main div .todo .cardbottom {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  overflow: auto;
}
main div .todo .cardbottom ul {
  width: 100%;
}
main div .todo .cardbottom ul li {
  font-size: 18px;
  margin-bottom: 8px;
}
main div .todo .cardbottom ul li button {
  position: absolute;
  right: 0;
  border: none;
  background-color: white;
  vertical-align: middle;
  color: #566270;
}
main div .todo .cardbottom ul li button:hover {
  cursor: pointer;
}
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/*# sourceMappingURL=App.css.map */
